# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.os

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
godotdetour.pro.user
.sconsign.dblite
build-recastnavigation-Desktop-Default/
godotdetour.pro.user.4.10-pre1
demo/.import/
build-recastnavigation-Desktop-Debug/
godotdetour.pro.user.4edfed0
